$primary-black: #323232;
$primary-blue: #0095ff;
$primary-silver: #afafaf;
$primary-white: #ffff;
$secondary-black: #000;
$secondary-mercury: #e1e1e1;
$secondary-blue: #0065ad;
$secondary-alabaster: #fafafa;
