@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}
.main__video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 1rem;
  background-color: #000;
}
@media (min-width: 768px) {
  .main__video-player {
    padding: 0 4rem;
  }
}
@media (min-width: 1280px) {
  .main__video-player {
    padding: 0 10rem;
  }
}
.main__video-heading {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 700;
  line-height: 2.3rem;
  font-size: 2rem;
  padding: 1rem 1rem 1.5rem 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #323232;
  border-bottom: 1px solid #e1e1e1;
}
@media (min-width: 768px) {
  .main__video-heading {
    margin-bottom: 0;
    border-bottom: none;
  }
}
.main__video-details {
  display: flex;
  padding-bottom: 1rem;
  padding-left: 1rem;
  align-items: center;
  margin-right: 1rem;
  margin-left: 1rem;
  border-bottom: 1px solid #e1e1e1;
}
@media (min-width: 768px) {
  .main__video-details {
    justify-content: space-between;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 0;
  }
}
.main__video-details-alignment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 6rem;
}
@media (min-width: 768px) {
  .main__video-details-alignment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 16rem;
  }
}
.main__video-player-aspect-ratio {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 1rem;
}
.main__views-icon {
  height: 2rem;
  width: 2.2rem;
  padding-right: 0.5rem;
  margin: 0;
}
@media (min-width: 768px) {
  .main__views-icon {
    padding: 0;
    margin: 0;
  }
}
.main__video-stats {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 400;
  color: #afafaf;
}
.main__video-date-align {
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .main__video-date-align {
    padding: 0;
  }
}
.main__video-channel {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 700;
  color: #323232;
}
.main__likes-icon {
  height: 1.5rem;
  width: 2.3rem;
  padding-right: 0.5rem;
}
@media (min-width: 768px) {
  .main__likes-icon {
    padding: 0;
    margin: 0;
  }
}
.main__icon {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .main__icon {
    margin-right: 2rem;
  }
}
.main__icon-tablet {
  padding-left: 10rem;
}
@media (min-width: 768px) {
  .main__icon-tablet {
    display: flex;
    align-items: center;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .main__icon-wrap {
    display: flex;
    width: 16rem;
    justify-content: space-evenly;
  }
}
.main__comment-section {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 0.3rem;
}
@media (min-width: 768px) {
  .main__comment-section {
    font-size: 0.9rem;
  }
}
.main__display-empty-photo {
  width: 20%;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2rem;
  height: 3rem;
  width: 3rem;
}
.main__loaded-comment-wrap {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 1280px) {
  .main__loaded-comment-wrap {
    margin-right: -1rem;
  }
}
@media (min-width: 768px) {
  .main__loaded-comment-wrap {
    justify-content: space-evenly;
    align-items: stretch;
  }
}
.main__display-photo {
  background-image: url(../../assets/images/Mohan-muruge.jpg);
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}
@media (min-width: 768px) {
  .main__display-photo {
    margin-top: 2rem;
    margin-left: 2rem;
  }
}
.main__comment-heading {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 700;
  color: #afafaf;
  font-size: 0.8125 rem;
  line-height: 1.125rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main__comment-heading {
    font-size: 0.7rem;
  }
}
.main__comment-subheading {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 700;
  padding-bottom: 1rem;
  padding-left: 2rem;
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .main__comment-subheading {
    border-top: none;
  }
}
.main__comment-new {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 1280px) {
  .main__comment-new {
    margin-right: -1rem;
  }
}
@media (min-width: 768px) {
  .main__comment-new {
    border-top: none;
  }
}
.main__comment-name {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 700;
  color: #000;
  line-height: 0;
}
@media (min-width: 768px) {
  .main__comment-name {
    font-size: 0.9rem;
  }
}
.main__comment-text-area {
  width: 100%;
  box-sizing: border-box;
  height: 9.375rem;
  padding: 0.625rem;
  font-size: 1rem;
  border: 0.1rem solid #e1e1e1;
  background-color: #fafafa;
  border-radius: 0.25rem;
  resize: none;
}
@media (min-width: 768px) {
  .main__comment-text-area {
    height: 3rem;
    width: 28rem;
  }
}
.main__comment-text-area::-moz-placeholder {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 0.9rem;
}
.main__comment-text-area::placeholder {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .main__comment-text-area::-moz-placeholder {
    font-size: 0.8rem;
  }
  .main__comment-text-area::placeholder {
    font-size: 0.8rem;
  }
}
.main__comment-text-area:focus {
  outline-color: #0095ff;
}
.main__comment-context {
  width: 85%;
}
@media (min-width: 768px) {
  .main__comment-context {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
}
.main__comments {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 0;
}
.main__comment-wrap {
  width: 85%;
}
.main__name-date-wrap {
  display: flex;
  justify-content: space-between;
}
.main__button {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 700;
  background-image: url("../../assets/images/add_comment.svg");
  background-color: #0095ff;
  background-repeat: no-repeat;
  background-position: 1rem center;
  border-width: 0;
  border-radius: 0.25rem;
  height: 3rem;
  width: 100%;
  margin-top: 1rem;
}
.main__button:hover {
  background-color: #0065ad;
}
@media (min-width: 768px) {
  .main__button {
    height: 3rem;
    width: 10rem;
    background-size: 1rem;
    margin-top: 2rem;
  }
}
.main__button-text {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: white;
}
@media (min-width: 768px) {
  .main__button-text {
    height: 3rem;
    font-size: 0.8rem;
  }
}
.main__video-description {
  padding: 0rem 2rem 1rem 2rem;
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 1.4rem;
  font-size: 0.99rem;
}
@media (min-width: 1280px) {
  .main__video-side-list {
    display: flex;
  }
}
@media (min-width: 1280px) {
  .main__video-list-align {
    border-left: 1px solid #e1e1e1;
  }
}
.main__content alignment {
  margin-right: 1rem;
}/*# sourceMappingURL=main.css.map */